<div class="container">
  <div>
    <h2>Actualizar Actividad</h2>
  </div>

  <div>
    <form [formGroup]="form" (ngSubmit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Ingrese descripción" />

        <mat-error *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
          La descripción es obligatoria.
        </mat-error>

        <mat-error *ngIf="form.get('descripcion')?.hasError('maxlength') && form.get('descripcion')?.touched">
          Máximo 100 caracteres.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>

        <mat-error *ngIf="form.get('fechaInicio')?.hasError('required') && form.get('fechaInicio')?.touched">
          La fecha de inicio es obligatoria.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
        <mat-datepicker #pickerFin></mat-datepicker>

        <mat-error *ngIf="form.get('fechaFin')?.hasError('required') && form.get('fechaFin')?.touched">
          La fecha de fin es obligatoria.
        </mat-error>
      </mat-form-field>

      <br />

      <label>Estado</label>
      <br />

      <mat-radio-group formControlName="estado">
        <mat-radio-button value="Pendiente">Pendiente</mat-radio-button>
        <mat-radio-button value="En proceso">En proceso</mat-radio-button>
        <mat-radio-button value="Finalizado">Finalizado</mat-radio-button>
      </mat-radio-group>

      <mat-error *ngIf="form.get('estado')?.hasError('required') && form.get('estado')?.touched">
        El estado es obligatorio.
      </mat-error>

      <br />
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Código de usuario</mat-label>
        <input matInput type="number" formControlName="usuarioCodigo" />

        <mat-error *ngIf="form.get('usuarioCodigo')?.hasError('required') && form.get('usuarioCodigo')?.touched">
          El código de usuario es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Código de lote</mat-label>
        <input matInput type="number" formControlName="loteCodigo" />

        <mat-error *ngIf="form.get('loteCodigo')?.hasError('required') && form.get('loteCodigo')?.touched">
          El código de lote es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />

      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">
          Actualizar
        </button>
      </div>

    </form>
  </div>
</div>