<div class="container">
  <div class="form-card">
    <div class="form-header">
      <mat-icon>category</mat-icon>
      <h2>Registrar Tipo de Procesamiento</h2>
    </div>

    <form [formGroup]="form" (submit)="registrar()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre"/>
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion" rows="3"></textarea>
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
          La descripción es obligatoria
        </mat-error>
      </mat-form-field>

      <div *ngIf="exito" class="success-msg">
        ✅ Tipo de procesamiento registrado correctamente
      </div>

      <button mat-flat-button class="btn-registrar" type="submit">
        Registrar
      </button>
    </form>
  </div>
</div>