.btn-eliminar {

 background-color: #f44336 !important;

 color: white !important;

 border-radius: 8px;

 min-width: 40px;

 transition: 0.3s;

 border-color: #f44336;

}



.btn-eliminar:hover {

 background-color: #d32f2f !important;

 transform: scale(1.05);

}