<div class="reporte-container">
    <div class="header-section">
        <h2>Reporte: Cantidad de Imágenes por Lote</h2>
    </div>

    <div *ngIf="mensajeError" class="no-data" style="color: #d32f2f; text-align: center;">
        {{ mensajeError }}
    </div>

    <div *ngIf="dataSource.length > 0" class="dashboard-layout">

        <div class="chart-container">
            <canvas id="graficoLotes"></canvas>
        </div>

        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-elegante">

                <ng-container matColumnDef="loteId">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: bold;">
                        ID del Lote
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.loteId }} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadImagenes">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: bold;">
                        Cantidad de Imágenes Procesadas
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <span
                            style="background-color: #f44336; color: white; padding: 6px 12px; border-radius: 20px; font-weight: bold; font-size: 13px;">
                            {{ element.cantidadImagenes }}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
</div>